nav {
  font-family: 'Raleway', sans-serif;
  background-color: #e1e2e1;
  border-bottom: 1px solid #e1e2e1;
  box-shadow: 0 4px 8px -3px #999;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
  color: #950037;
}

#login-button {
  color: #950037;
}
#login-button:hover {
  background-color: #E1E2E1;
  border: 1px solid #E1E2E1;
}
